:root {
  --bg-main-color: #ffffff;
  --bg-second-color: #2f303a;
  --bg-third-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --logo-color: #000000;
  --second-footer-color: rgba(255, 255, 255, 0.6);
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --hero-button-active-bg: #188ce8;
  --active-shadow-color: rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--bg-main-color);
  color: var(--main-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

button {
  color: inherit;
  border-radius: 4px;
}

/* ----------СТУДІЯ----------- */

/* header */

.logo.header {
  color: var(--logo-color);
}

.logo span {
  color: var(--accent-color);
}

.nav-link {
  color: inherit;
}

.nav-link:hover,
.nav-link:focus,
.contact-list .link-contact:hover,
.contact-list .link-contact:focus {
  color: var(--accent-color);
}

.contact-list .link-contact {
  color: var(--second-color);
}

/* hero */

.hero-section {
  background-color: var(--bg-second-color);
}

.hero-title {
  color: var(--third-color);
}

.hero.button {
  background-color: var(--accent-color);
  color: var(--third-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
}

.hero.button:hover,
.hero.button:focus {
  background-color: var(--hero-button-active-bg);
  filter: drop-shadow(0px 4px 4px var(--active-shadow-color));
}

/* features */

.features-text {
  color: var(--second-color);
}

/* team  */

.team-section {
  background-color: var(--bg-third-color);
}

.team-card {
  background-color: var(--bg-main-color);
}

.team-card .text {
  color: var(--second-color);
}

/* footer  */

.footer {
  background-color: var(--bg-second-color);
}

.logo.footer {
  color: var(--third-color);
}

.footer-address {
  color: var(--third-color);
}

.address .link-contact {
  color: var(--second-footer-color);
}

.footer-address:hover,
.footer-address:focus,
.address .link-contact:hover,
.address .link-contact:focus {
  color: var(--accent-color);
}

/* ---------PORTFOLIO--------- */

.list button {
  background-color: var(--bg-third-color);
}

.list button:hover,
.list button:focus {
  background-color: var(--accent-color);
  color: var(--third-color);
}

.portfolio-title {
  color: var(--main-color);
}

.portfolio-text {
  color: var(--second-color);
}
